@import "../../styles/presets";
@import "../../styles/hovers";
@import "../../styles/keyframes";

.login-modal {
  margin: auto;
  background-color: white;
  text-align: center;
  max-width: 500px;
  width: 90%;

  animation: bounce-pop 200ms;

  @extend .circular-border;
  @extend .default-padding;
}

.profile-modal {
  margin: auto;
  background-color: white;
  text-align: center;
  max-width: 900px;
  width: 90%;
  background-color: $bg-light;

  animation: bounce-pop 200ms;

  @extend .circular-border;
  @extend .default-padding;

  .profile-card {
    .logout {
      background-color: $secondary;
      margin: 24px auto;
      max-width: 200px;

      width: 90%;

      @extend .circular-border;
      @extend .box-shadow;
    }

    .user-card {
      display: flex;
      align-items: center;
      background-color: white;

      @extend .circular-border;
      @extend .box-shadow;

      @include mobile {
        flex-direction: column;
      }

      .user-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;
        position: relative;

        @extend .default-margin;

        .image {
          object-fit: cover;
          width: 100px;
          height: 100px;
          border-radius: 100%;
          border: 4px solid $secondary;
          background-color: $secondary;
        }

        .edit {
          height: 40px;
          width: 40px;
          position: absolute;
          top: 0;
          right: 0;
          background-color: $secondary;
          border-radius: 100%;
          border: 2px solid white;
        }
      }

      .user-details {
        width: 100%;
        text-align: start;

        @extend .default-margin;

        @include mobile {
          text-align: center;
        }

        .user-status {
          display: flex;
          justify-content: space-between;
          align-items: center;

          @include mobile {
            flex-direction: column;
          }

          .user-name {
            display: flex;
            align-items: center;
            text-transform: capitalize;
            background-color: $primary;
            color: white;
            font-weight: bold;
            word-break: break-all;
            padding: 8px 20px;

            @extend .circular-border;

            @include mobile {
              padding: 8px;
            }

            .icon {
              @extend .clickable;
              @extend .icon;
            }
          }

          .unverified {
            background-color: $bg-dark !important;

            @extend .clickable;
          }

          .verified {
            display: flex;
            align-items: center;
            text-transform: capitalize;
            color: white;
            background-color: $green;
            font-weight: bold;
            padding: 12px 32px;

            @extend .box-shadow;
            @extend .circular-border;

            .verified-icon {
              padding: 0 0 0 8px !important;
              @extend .icon;
            }
          }
        }

        .user-badges {
          display: inline-flex;
          color: white;

          flex-wrap: wrap;
          background-color: $primary;
          padding: 8px 16px;
          margin: 8px 0;

          @extend .box-shadow;
          @extend .circular-border;

          .badge {
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $translucentBlack;
  padding: 90px 20px;

  @include mobile {
    padding: 60px 20px;
  }
}
