@keyframes bounce-pop {
  0% {
    transform: scale(0.8);
  }
  90% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
