@import "../../styles/presets";

#controls {
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  color: white;

  z-index: 1;

  border-radius: 0 0 0 20px;

  @extend .default-padding;
}
