@import "../../styles/presets";

#live-chat-container {
  width: 90%;
  max-width: 500px;
  margin-bottom: 34px;
  margin-top: 42px;
  background-color: transparent;
  position: relative;

  #live-chat {
    background-color: $translucentBlack1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    backdrop-filter: blur(4px);

    .chat-box-container {
      display: flex;
      align-items: center;
      margin: auto;
      width: 92%;
      box-sizing: border-box;
      border-bottom: 2px solid $bg-dark;
      background-color: $translucentBlack2;

      @extend .rounded-border;

      .chat-box {
        padding: 8px;
        background: none;
        border: none;
        color: white;
        width: 100%;
        resize: none;
        height: 50px;
      }

      .chat-box:focus {
        outline: none;
      }
    }

    .chat-list-view {
      overflow-x: auto;
      box-sizing: border-box;
      max-height: 90%;

      @extend .default-padding;

      .chat-bubble {
        color: white;
        display: flex;
        width: 100%;
        padding: 8px;
        box-sizing: border-box;

        @extend .circular-border;

        .image {
          height: 32px;
          width: 32px;
          padding-right: 8px;
        }

        .message-block {
          .sender-name {
            font-weight: bold;

            padding-right: 8px;
          }

          .date-sent {
            display: block;
            padding-right: 8px;
            font-size: 12px;
            color: $bg-dark;
          }
        }
      }
    }
  }
}
