@import "../../styles/variables";
@import "../../styles/keyframes";
@import "../../styles/mixins";

#bottom-indicator {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: $translucentBlack;
  text-align: center;
  padding: 8px 0;

  * {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .marquee {
    white-space: nowrap;
    transform: translate3d(calc(-25% + 20vw), 0, 0);
    animation: marquee 5s linear infinite;
  }

  @include mobile {
    background-color: black;
  }
}
