@import "../../styles/variables";
@import "../../styles/keyframes";
@import "../../styles/mixins";

#bottom-indicator {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: black;
  text-align: center;
  height: 36px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 6.5px 0;
  box-sizing: border-box;

  * {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marquee {
    animation: marquee 7s linear infinite;
  }
}
#message {
  overflow: visible;
  display: inline;
  white-space: nowrap;
}
