@import "../../styles/variables";
@import "../../styles/keyframes";
@import "../../styles/mixins";

#bottom-indicator {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: black;
  text-align: center;
  height: 36px;
  padding: 6.5px 0;
  box-sizing: border-box;

  * {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marquee {
    white-space: nowrap;
    animation: marquee 7s linear infinite;
  }
}
