#app {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(110, 110, 110);
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  #parent {
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}
